<div class=" card">
  <div class="footer">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-4">
          <h4>Education In USA</h4>
        </div>
        <div class="col-12 col-md-4">
          <h4>Contact Us</h4>
          <p>Email: <a href="mailto:help@educationinusa.org" style="color: white;">help@educationinusa.org</a></p>
          <p>WhatsApp: <a href="https://web.whatsapp.com/send?phone=917569667893" style="color: white;">+91 75696 67893</a></p>
        </div>
        <div class="col-12 col-md-4">
          <h4>About Us</h4>
          <p>
            www.educationinusa.org is a team of higher education aspirants committed to helping students
            to fulfill their study abroad dreams for free by connecting students with alumni.
          </p>
        </div>
        <div class="col-12">
          Note: Images and the other information used in this application were gathered from different sources.
          All Credits belong to their respective owners.
          <br>
          <p class="text-center my-2"> Education In USA ©️ 2022</p>
          <p class="text-center my-2"> Made with 💖 on USA Education from India</p>
        </div>
      </div>
    </div>
  </div>
</div>
