<div class="row">
  <ng-container *ngFor="let embassy of embassies">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header">
          {{embassy.displayName}}
        </div>
        <div class="card-img-top">
          <iframe [src]="embassy.iframeUrl | safeContent" width="100%" height="100%" style="border:0;" allowfullscreen="true"
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">{{embassy.displayName}}</h5> -->
          <p class="card-text" style="min-height: 72px;">{{embassy.address}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Phone: {{embassy.phoneNumber}}</li>
          <li class="list-group-item"><a [href]="embassy.website" target="_blank" >Learn more</a> </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
