<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
      <div class="card smooth-shadow-md">
        <div class="card-body p-6">
          <div *ngIf="forgotPasswordForm">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="row">

                <h2 class="col-12 text-center">
                  Forgot password
                </h2>

                <div class="col-12">
                  <div class="mb-3 form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                      placeholder="Enter email" />
                  </div>
                </div>

                <div class="col-12" *ngIf="forgotPasswordForm.value.iHaveOtp">
                  <div class="mb-3 form-group">
                    <label for="newPassword" class="form-label">
                      New password
                    </label>
                    <input type="newPassword" class="form-control" id="newPassword" formControlName="newPassword"
                      placeholder="Enter new password" />
                  </div>
                </div>

                <div class="col-12" *ngIf="forgotPasswordForm.value.iHaveOtp">
                  <div class="mb-3 form-group">
                    <label for="otp" class="form-label">
                      OTP
                    </label>
                    <input type="otp" class="form-control" id="otp" formControlName="otp"
                      placeholder="Enter OTP" />
                  </div>
                </div>

                <div class="col-12 text-center mt-2" *ngIf="!forgotPasswordForm.value.iHaveOtp">
                  <button type="submit" class="btn btn-primary btn-sm" [disabled]="!forgotPasswordForm.valid">
                    Send OTP
                    <i class="bi bi-arrow-right"></i></button>
                </div>

                <div class="col-12 text-center mt-2" *ngIf="forgotPasswordForm.value.iHaveOtp">
                  <button type="submit" class="btn btn-primary btn-sm" [disabled]="!forgotPasswordForm.valid">
                    Update password
                    <i class="bi bi-arrow-right"></i></button>
                </div>

                <div class="col-12 col-md-4 mt-2">
                  <div class="form-check">
                    <label class="form-check-label" for="iHaveOtp">
                      I have OTP already
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="iHaveOtp"
                      formControlName="iHaveOtp">
                  </div>
                </div>

                <div class="col-12 mt-2 text-end">
                  <a href="/my-account/login">I know my password login here</a>
                </div>
                <div class="col-12 mt-2 text-end">
                 <a href="/my-account/register"> Don't have account register here</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
