<ng-container *ngIf="interviewTravelPartnerPreferences && interviewTravelPartnerPreferences.length">
  <div class="row">
    <ng-container *ngFor="let travelPreference of interviewTravelPartnerPreferences; let i = index;">
      <div class="col-12 col-lg-4 col-md-6 ">
        <div class="card mb-2">
          <div class="card-header">
            Preference #{{i+1}}
            <span class="float-end">
              {{ travelPreference?.interviewDetails?.interviewType | idName: lookupConstants}}
            </span>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span>Embassy:&nbsp;</span>
                <span class="float-end">{{travelPreference?.interviewDetails?.embassy | idName: embassies}}</span>
              </li>
              <li class="list-group-item">
                <span>Gender Preference:&nbsp;</span>
                <span class="float-end">{{travelPreference?.genderPreference | idName: lookupConstants}}</span>
                <div class="form-check px-0">
                  <label class="form-check-label" for="travelPartnerRequired-{{i}}">
                    I need travel partner
                  </label>
                  <input class="form-check-input float-end" type="checkbox"
                    [disabled]="disableCheckbox || disableActionButtons"
                    (change)="changePreference($event,travelPreference,'travelPartnerRequired')"
                    [checked]="travelPreference.travelPartnerRequired" id="travelPartnerRequired-{{i}}">
                </div>
                <div class="form-check px-0">
                  <label class="form-check-label" for="hasTravelPartner-{{i}}">
                    I have travel partner
                  </label>
                  <input class="form-check-input float-end" type="checkbox"
                    [disabled]="disableCheckbox || disableActionButtons"
                    (change)="changePreference($event,travelPreference,'hasTravelPartner')"
                    [checked]="travelPreference.hasTravelPartner" id="hasTravelPartner-{{i}}">
                </div>
              </li>
              <li class="list-group-item">
                <span>Travel From:&nbsp;</span>
                <span class="float-start float-md-end">{{travelPreference?.travelFromState | idName: states}} -
                  {{travelPreference?.travelFromCity}}</span>
              </li>
              <li class="list-group-item">
                <span>Travel Date:&nbsp;</span>
                <span class="float-start float-md-end">{{travelPreference.travelDate | dateTimeZonePipe}}</span>
              </li>
              <li class="list-group-item">
                <span>Interview Date:&nbsp;</span>
                <span class="float-start float-md-end">
                  {{travelPreference?.interviewDetails?.interviewDate | dateTimeZonePipe}}
                </span>
              </li>
              <li class="list-group-item">
                <span>Comments:&nbsp;</span>
                <span [ngClass]="travelPreference.comments ? 'float-start float-md-end' : 'float-end'">
                  {{travelPreference.comments || 'N/A'}}
                </span>
              </li>
              <li class="list-group-item p-8">
                <div class="d-flex justify-content-evenly">

                  <div class="">
                    <button type="button" [disabled]="disableActionButtons" (click)="onEdit(travelPreference)"
                      class="btn btn-secondary btn-sm">
                      <i class="bi bi-pencil-square"></i>&nbsp;
                      <span>Edit</span>
                    </button>
                  </div>

                  <div class="">
                    <button type="button" [disabled]="disableActionButtons" (click)="onDelete(travelPreference)"
                      class="btn btn-danger btn-sm">
                      <i class="bi bi-trash"></i>&nbsp;
                      <span>Delete</span>
                    </button>
                  </div>
                  <div>
                    <button type="button" [disabled]="disableActionButtons" (click)="onFindPartners(travelPreference)"
                      class="btn btn-primary btn-sm">
                      <i class="bi bi-file-earmark-text"></i>&nbsp;
                      <span>Partners</span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- Delete confirmation modal -->
<div class="modal" tabindex="-1" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false"
  [ngClass]="openConfirmationModal ? 'd-block show fade' : 'd-none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete confirmation</h5>
        <button type="button" class="btn-close" (click)="deleteContinue()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this information.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="deleteContinue()">Close</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteContinue(true)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Travel partners list modal -->
<div *ngIf="openPartnersModal" class="modal" id="partnersModal" tabindex="-1" data-bs-backdrop="static"
  data-bs-keyboard="false" [ngClass]="openPartnersModal ? 'd-block show fade' : 'd-none'">
  <div class="modal-dialog modal-xl  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">
          Visa/Biometric in {{tempInterviewTravelPartner.interviewDetails?.embassy | idName:embassies}}
          embassy on {{tempInterviewTravelPartner.interviewDetails?.interviewDate | dateTimeZonePipe: 'mediumDate'}}
        </h6>
        <button type="button" class="btn-close" (click)="openPartnersModal=!openPartnersModal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body p-0">
        <div class="container-fluid">
          <div class="row">
            <ng-container *ngFor="let travelPartner of matchedInterviewTravelPartners; let i = index;">
              <div class="col-12 col-lg-4 col-md-6 ">
                <div class="card mb-2">
                  <div class="card-header">
                    Partner #{{i+1}}
                    <span class="float-end">
                      {{ travelPartner?.interviewDetails?.interviewType | idName: lookupConstants}}
                    </span>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <span>Name:&nbsp;</span>
                        <span class="float-end">{{travelPartner?.user?.shareOnlyNickName ? travelPartner?.user?.nickName
                          :
                          (travelPartner?.user?.firstName + ' ' + travelPartner?.user?.lastName) }}</span>
                      </li>

                      <li class="list-group-item">
                        <span>Travel From:&nbsp;</span>
                        <span class="float-end">{{travelPartner?.travelFromState | idName: states}} -
                          {{travelPartner?.travelFromCity}}</span>
                      </li>

                      <li class="list-group-item">
                        <span>Travel Date:&nbsp;</span>
                        <span class="float-end">
                          {{travelPartner.travelDate | dateTimeZonePipe}}
                        </span>
                      </li>

                      <li class="list-group-item">
                        <span>Gender Preference:&nbsp;</span>
                        <span class="float-end">{{travelPartner?.genderPreference | idName: lookupConstants}}</span>
                      </li>

                      <li class="list-group-item">
                        <span>Contact:&nbsp;</span>
                        <span class="float-end">
                          {{travelPartner?.user?.sharePhoneNumber ? travelPartner?.user?.phoneNumber :''}}
                        </span>
                        <br>
                        <span class="float-end">{{travelPartner?.user?.email}}</span>
                      </li>

                      <li class="list-group-item">
                        <span>Comments:&nbsp;</span>
                        <span class="float-end">
                          {{travelPartner.comments || 'N/A'}}
                        </span>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm"
          (click)="openPartnersModal=!openPartnersModal">Close</button>
      </div> -->
    </div>
  </div>
</div>
